<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatRoomMembersMapper">

    <insert id="create" parameterType="ChatRoomMembersDTO">
        INSERT INTO CHATROOMMEMBERS (CHATROOMID, USERID)
        VALUES (#{chatRoomId}, #{userId})
    </insert>

    <select id="findAllByChatRoomId" resultType="ChatRoomMembersDTO">
        SELECT * FROM CHATROOMMEMBERS WHERE CHATROOMID = #{chatRoomId}
    </select>

    <select id="findAllByUserId" resultType="ChatRoomMembersDTO">
        SELECT * FROM CHATROOMMEMBERS WHERE USERID = #{userId}
    </select>

    <delete id="delete" parameterType="ChatRoomMembersDTO">
        DELETE FROM CHATROOMMEMBERS
        WHERE CHATROOMID = #{chatRoomId} AND USERID = #{userId}
    </delete>

</mapper>